<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand">
            <!-- Logo Image -->
            <img src="https://media.discordapp.net/attachments/833808504766070846/837368544697122816/Icono_3.png" width="45" alt="" class="d-inline-block align-middle mr-2">
            <!-- Logo Text -->
            <span class=" font-weight-bold">RoundTrip</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login<span class="sr-only">(current)</span></a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/registro" routerLinkActive="active">Registrar Usuario</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Services</a></li>
                <li class="nav-item active">
                    <a class="nav-link" *ngIf="identidad; else btnLogin">{{identidad.usuario}}</a>
                </li>
                <ng-template #btnLogin>
                    <button type="button" class="btn btn-outline-info" routerLink='/login'>Login</button>
                </ng-template> 
            </ul>
        </div>
    </div>
</nav>