<body>
    <div class="container">
        <main>
            <!-- <div class="py-5 text-center">
                <h2>Registro</h2>
                <p class="lead">Registrate para poder reservar!</p>
            </div> -->
            <div class="row g-5" style="padding-top: 50px;">
                <div class="col-md-5 col-lg-4 order-md-last">
                    <!-- <img class="d-block mx-auto mb-4" src="https://media.discordapp.net/attachments/833808504766070846/837368529694621776/Icono_2.png" alt=""> -->
                </div>
                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Registro</h4>
                    <form class="needs-validation">
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <label for="inputNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="inputNombre" placeholder="Tu Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="usuarioModelAdd.nombre" required>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Tu apellido" name="apellido" #apellido="ngModel" [(ngModel)]="usuarioModelAdd.apellido">
                            </div>

                            <div class="col-12">
                                <label for="username" class="form-label">Nombre de Usuario</label>
                                <div class="input-group has-validation">
                                    <span class="input-group-text">@</span>
                                    <input type="text" class="form-control" id="username" placeholder="Nombre de Usuario" name="usuario" #usuario="ngModel" [(ngModel)]="usuarioModelAdd.usuario">
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="email" class="form-label">Correo <span class="text-muted"></span></label>
                                <input type="email" class="form-control" id="email" placeholder="usuario@ejemplo.com" name="correo" #correo="ngModel" [(ngModel)]="usuarioModelAdd.correo">
                            </div>
                            <div class="col-12">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="usuarioModelAdd.password">
                            </div>
                            <div class="col-12">
                                <label for="address" class="form-label">Direccion</label>
                                <input type="text" class="form-control" id="address" placeholder="Tu direccion" name="direccion" #direccion="ngModel" [(ngModel)]="usuarioModelAdd.direccion">
                            </div>

                            <!-- <div class="col-12">
                                <label for="address2" class="form-label">Fecha de Nacimiento <span class="text-muted"></span></label>
                                <input type="text" class="form-control" id="address2" placeholder="Fecha de Nacimiento" name="fecha" #fecha="ngModel" [(ngModel)]="usuarioModelAdd.nacimiento">
                            </div> -->



                            <div class="col-md-5">
                                <label for="country" class="form-label">Pais</label>
                                <select class="form-select" id="country" name="pais" #pais="ngModel" [(ngModel)]="usuarioModelAdd.pais">
                                    <option value="">Choose...</option>
                                    <option>Guatemala</option>
                                    </select>
                            </div>
                            <div class="col-md-4">
                                <label for="state" class="form-label">Ciudad</label>
                                <select class="form-select" id="state" name="ciudad" #ciudad="ngModel" [(ngModel)]="usuarioModelAdd.ciudad">
                                    <option value="">Choose...</option>
                                    <option>Guatemala</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="zip" class="form-label">Codigo Postal</label>
                                <input type="text" class="form-control" id="zip" placeholder="">
                            </div>
                            <div class="col-6">
                                <label for="telefono" class="form-label">Telefono</label>
                                <input type="text" class="form-control" id="telefono" placeholder="Tu Telefono" name="telefono" #telefono="ngModel" [(ngModel)]="usuarioModelAdd.telefono">
                            </div>

                            <mat-form-field class="col-6">
                                <input matInput [matDatepicker]="picker" placeholder="Escoge tu nacimiento" name="fecha" #fecha="ngModel" [(ngModel)]="usuarioModelAdd.nacimiento">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            

                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="button" (click)="registrarUsuario()" routerLink='/principal'>Registrarme</button>
                    </form>
                </div>
            </div>
        </main>
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2021 RoundTrip</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a>Privacy</a></li>
                <li class="list-inline-item"><a>Terms</a></li>
                <li class="list-inline-item"><a>Support</a></li>
            </ul>
        </footer>
    </div>
</body>