.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}

::ng-deep .cdk-overlay-container {     z-index:2000; }

.main-bg::after{
    background-color: #fef5e4;
-webkit-border-radius: 0 0 233px 135px;
-moz-border-radius: 0 0 233px 135px;
border-radius: 0 0 233px 135px;
content: "";
position: absolute;
right: -119px;
top: -93px;
background-color: #fef5e4;
width: 466px;
height: 595px;
-webkit-transform: rotate(45deg);
transform: rotate(116deg);
z-index: -2;
}