<div class="container" style='margin-bottom: 150px;'>

    <div class="col-xs-12 col-sm-4" *ngFor="let hotelesNGF of hotelModelGet; let i = index">
    <h1>Hoteles de {{hotelesNGF.pais}}</h1>
    <hr>
        <div class="card mb-3">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
            <h5 class="card-title">{{hotelesNGF.nombre}}</h5>
            <p class="card-text">{{hotelesNGF.direccion}}</p>
            <button type="button" class="btn btn-primary" [routerLink]="['/habitaciones-hotel',hotelesNGF._id]" (click)='obtenerHabitacionesPorHotel(hotelesNGF._id)'><i class="bi bi-info-square"></i></button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>